class MyComponent extends React.PureComponent {
    static propTypes = {
    name: PropTypes.string.isRequired,
    age: PropTypes.number
  }
  
  static defaultProps = {
    age: 30
  }

  render() {
    return (
      <div>Hello {this.props.name}, you are {this.props.age} years old</div>
    );
  }
}